
.port{
	text-shadow: 0px 10px 2px #000000;
}

.row{
	display: flex;
	float:left;
	margin-top: 3%;
	margin-left: 2.5%;
	width: 30%;
	aspect-ratio:16/9;
	background-color:#000826;
	border-radius: 20px;
	cursor: pointer;
}

.image{
	position: inherit;
	display: block;
	margin-left: 13%;
	margin-top:2.5%;
	height: 90%;
	border-radius:10px;
	aspect-ratio:4960/3507;
	z-index: 10;
}
.text{
	transition: opacity 500ms;
	text-align: center;
	position: absolute;
	display: block;
	z-index: 15;
	margin-left: 1.45%;
	margin-top: .75%;
	height: 15.1vw;
	aspect-ratio:16/9;
	border-radius:10px;
	opacity: 0%;
	background-color: rgba(0,0,0,0.63);
	font-size:1vw;
	/*595 characterlimit*/
}

.row:hover .image{
	transition: filter 300ms;
	filter: blur(1px);
}

.row:hover .text{
	transition: opacity 500ms;
	opacity: 100%;
}